[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-registration-redux = "*"
django-debug-toolbar = "*"
gunicorn = "*"
django-filter = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
dj-database-url = "*"
django-allauth = "*"
python-dotenv = "*"
psycopg2-binary = "*"
django-heroku = "*"
twilio = "*"
honcho = "*"
faker = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.7"
