<nav>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class='nav-links'>
                <li><a href="{% url 'index' %}" title='Home'>Home</a></li>
                {% if request.user.is_authenticated %}
                <li><a  href="{% url 'auth_logout' %}" title="Log out">Logout</a></li>
                {% else %}
                <li><a href="{% url 'auth_login' %}" title="Login">Login</a></li>
                {% endif %}
                <li><a href="{% url 'search_resource'%}" title="Search">Search</a></li>
                <li><a href="{% url 'give_back' %}" title="give_back"> Support</a></li>
                <li><a href="{% url 'resource' %}" title="resource">Resources</a></li>
                <li><a href="{% url 'blog' %}" title="blog posts">Blogs</a></li>
        </ul>
    
</nav>