{% extends "base.html" %}
{% load static %}

{% block content %}
<div class='about-wrapper'>
  <div class="about-project">
    <div class='support-header'>
        <h3>About Us</h3>
        <div class="group-img">
           <p><img src="{% static 'images/about_us/ProjectImpact3.jpg' %}" alt="Project Impact Group" width="40%" height="800"></p>
        </div>
    </div>

    <details class="about-details">
        <summary class="needscenter">Read About Project Impact</summary>
            <p>Project Impact is an app designed to provide young 
                adults aging out of the foster care system with an online platform to connect with other adults who can empower them through mentorship. The idea for Project Impact came about from a group of individuals who had a desire to impact a group who at times do not have all the resources available to them to navigate through finding a job, applying to college, and much more. Through mentorship, young adults aging out of the foster care system can learn how to thrive as they transition into the responsibilities of adulthood. Mentorship provides a way to encourage, empower, and equip foster care children to know they are valuable and capable of succeeding. On this app, people will have the opportunity to learn how to give back to the foster care community, find resources to learn more about helping young adults aging out of the foster care system, and sign up to mentor future leaders. We hope you find a way to participate in Project Impact!
            </p>
    </details>
   </div>

   <div class='group'>
       <div class="member">
            <h4 class="about-header">Jocelyn Casanova</h4>
            <div class="about-img">
                <img src="{% static 'images/about_us/JocelynCasanova.jpeg' %}" alt="Jocelyn Casanova" width="40%" height="650">
            </div>
            <details class="about-details">
            <summary class="needscenter">About Jocelyn</summary>
                <p>Jocelyn was originally born in Veracruz, Mexico, but has lived in the great state of North Carolina since the age of 3. She is a recent graduate of Momentum Learning Inc. and will be working as a Technical Engineer at Pendo.io. As part of her busy schedule, she is also pursuing her Associates degree in Business Administration and Marketing. However, Jocelyn has always had a passion for helping others find their potential. She enjoys meeting people from all over the world and learning from their experiences. When she is not busy  with school and work, she can be found mentoring the youth at her home church. Jocelyn also has a strong niche for painting, photography, and videography. 
                </p>
            </details>
    </div>

        <div class="member">
            <h4 class="about-header">Devin Muhs</h4>
            <div class="about-img">
                <img src="{% static 'images/about_us/DevinMuhs.jpg' %}" alt="Devin Muhs" width="40%" height="650">
            </div>
            <details class="about-details">
                <summary class="needscenter">About Devin</summary>
                    <p>Devin is originally from Long Island, New York and moved to Cary, North Carolina in 2018. He graduated from Binghamton University in 2017 with a degree in Business Administration and a Concentration in Marketing. After graduating, Devin worked in Sales for two years, but has since transitioned to Software Devleopment as his career path to fufill his goal of working in the Tech Industry. Devin is passionate about giving back to the community, which is what initially drew his attention towards Project Impact. In his spare time, Devin's hobbies include Brazilian Jiu-Jitsu, playing guitar, singing and hiking.
                    </p>
            </details>
        </div>

        <div class="members">
            <h4 class="about-header">Michael Pham</h4>
            <div class="about-img">
                <img src="{% static 'images/about_us/MichaelPham.jpg' %}" alt="Michael Pham" width="40%" height="650">
            </div>
            <details class="about-details">
                <summary class="needscenter">About Michael</summary>
                    <p>Michael is a North Carolina native residing in Durham, 
                        North Carolina. He graduated from the University of North Carolina at Chapel Hill with a degree in Asian Studies and a teaching license in Middle School Education: Mathematics. From 2015-2019, Michael taught middle school and high school mathematics at Cresset Christian Academy. He recently transitioned from teaching to become a junior developer/student at Momentum Learning Inc. where he hopes to combine his passion to mentor youth with his interest in software development. When he is not working, he can be found playing spades, bowling, dancing, and singing.
                    </p>
            </details>
        </div>


        <div class="members">
            <h4 class="about-header">Daiane Silva</h4>
            <div class="about-img">
                <img src="{% static 'images/about_us/DaianeDaSilva.jpeg' %}" alt="Daiane Da Silva" width="40%" height="650">
            </div>
            <details class="about-details">
            <summary class="needscenter">About Daiane</summary>
            <p> Daiane is originally from Brazil and has been living in Durham, North Carolina for the last 10 years. She studied International Relations prior to coming to the USA in 2008 to be an Au Pair. After 
                finishing the program, she performed different roles working as a nanny and a pet sitter mainly. She is a recent graduate from Momentum Learning, and she hopes to incorporate her passion for animals, the environment and social justice into her role as a software developer.
            </p>
            </details>
       </div>
  </div>

</div>
   
{% endblock %}