{% extends "base.html" %}

{% block content %}
  <h1>Blog List</h1>
  {% if blogpost_list %}
  <ul>
    {% for blog in blogpost_list %}
      <li>
        <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a> ({{blog.author}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no blogs! :(.</p>
  {% endif %}
  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %} 
  <a href="{% url 'add_new_blog'%}">Add a new blog!</a>     
{% endblock %}