{% extends "base.html" %}

{% block header %}
  {% include "snippets/navsearchbar.html" %}
{% endblock %}

{% block content %}
<div class="sidepage-content">
    <div class='sidepage-header'><h2>Blog List</h2></div>
  {% if blogpost_list %}
  <div class="sidepage-list">
  <ul>
    {% for blog in blogpost_list %}
      <li>
        <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a> </br>
      </li>
    {% endfor %}
  </ul>
</div>
  {% else %}
    <p>There are no blogs! :(.</p>
  {% endif %}
  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
 
  {% endblock %} 
  <div class="buttons">
    <a href="{% url 'add_new_blog'%}">Add a new post</a> 
  </div>
  <div class="buttons">
    <a href="{% url 'search_blog'%}">Search for a post</a>
  </div>

{% comment %}
 <form action='/search/'>
  <input type="search" name='q' placeholder='Search' aria-label="Search">
  <button type="submit">Search</button>
 </form>
 {% endcomment %}

</div>
  {% endblock %}