{% extends 'base.html' %}

{% block content %}

<div class="container-wrapper red profile">	
    <div class='green'>
        <div>
            <h2>WHAT IS YOUR GOAL TODAY?</h2>
            <form action="{% url 'add_goal' %}" method="POST" role="form">
                {% csrf_token %}
                <div class="form">
                    <div class="input-group">
                      {{ form.description }}
                      <span class="">
                          <button type="submit" class="button">ADD</button>
                      </span>
                    </div>
                </div>
            </form>

            <div>
                <div>
                    <div>
                        <div class="">
                            <a href="#"><button type="button" class="button">
                                <i class="fa fa-trash" aria-hidden="true"></i> DELETE COMPLETED
                            </button></a>
                        </div>
                        <div class="">
                            <a href="#"><button type="button" class="button">
                                <i class="fa fa-trash" aria-hidden="true"></i>DELETE ALL
                            </button></a>
                        </div>
                    </div>
                </div>
            </div>

            <ul class='list fs12 white'>
                {% for goal in goal_list %}
                    {% if goal.completed %}
                        <li class='goal-completed'>{{ goal.description }}</li>
                   {% else %}
                         <a class="link" href="#"><li>{{ goal.description }}</li></a>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>


{% endblock %}