{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class= adm-wrapper>

  <h3 class="title">Match a Mentor with a Mentee</h3>
  <div class="pair-form card">
  <form action="" method="post">
      
      {% csrf_token %}
      <table class="table-form">
      
      {{ form|crispy }}
      </table>
      <div class="center-button">
      <input class="buttons add-pair" type="submit" value="Match">
      </div>
    </form>
  </div>

  <div class= "title">
  <h3 class="title">Current Mentor and Mentee Matches:</h3>
  </div>

 
    <div class='sub-wrapper'>

        {% for chatroom in chatrooms %}
          
            <div class="existing-pairs pair-content">
                  <br>
                  <p>Mentor/Mentee Match: {{chatroom.pair}}</p>
                
                  <button class="buttons user-button"><a href="/chatrooms/{{chatroom.slug}}">{{chatroom.pair}} Chatroom</a></button>
                  
            </div>
          
          {% endfor %}
        
          
    </div>
</div>
         

</div>
  {% endblock %}