{% extends "base.html" %}

{% block content %}

 <h3 class="resource">Resources Guide</h3>

</div>  
<div class="buttons resources-button">
  <a href="{% url 'search_resource'%}" title="Search">Resource Filter</a>
</div>
<br>

<div class="resources-content">

  {% if resource_list %}
  <div class="resources-list card">

  <h4 class='category-header'>Career Resources</h4>

    <ul class='resources-links'>
       {% for resource in resource_list %}
        {% if resource.category.name == 'Career' %}
        <p><u><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a></u></p>
        {% endif %}
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no articles to show at the moment! :(.</p>
    {% endif %}
    </div>
  


    {% if resource_list %}
    <div class="resources-list card">

        <h4 class='category-header'>Clothing Resources</h4>
          <ul class='resources-links'>
            {% for resource in resource_list %}
              {% if resource.category.name == 'Clothing' %}
              <p><u><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a></u></p>
              {% endif %}
            {% endfor %}
          </ul>
          {% else %}
            <p>There are no articles to show at the moment! :(.</p>
          {% endif %}
    </div>

  
    {% if resource_list %}
    <div class="resources-list card">

        <h4 class='category-header'>Education Resources</h4>

      <ul class='resources-links'>
        {% for resource in resource_list %}
          {% if resource.category.name == 'Education' %}
          <p><u><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a></u></p>
          {% endif %}
        {% endfor %}
      </ul>
      {% else %}
        <p>There are no articles to show at the moment! :(.</p>
      {% endif %}
    </div>


    {% if resource_list %}
    <div class="resources-list card">

        <h4 class='category-header'>Employment Resources</h4>

      <ul class='resources-links'>
        {% for resource in resource_list %}
          {% if resource.category.name == 'Employment' %}
          <p><u><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a></u></p>
          {% endif %}
        {% endfor %}
      </ul>
      {% else %}
        <p>There are no articles to show at the moment! :(.</p>
      {% endif %}
    </div>



    {% if resource_list %}
    <div class="resources-list card">

      <h4 class='category-header'>Financial Resources</h4>
      <ul class='resources-links'>
        {% for resource in resource_list %}
          {% if resource.category.name == 'Finance' %}
          <p><u><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a></u></p>
          {% endif %}
        {% endfor %}
      </ul>
      {% else %}
        <p>There are no articles to show at the moment! :(.</p>
      {% endif %}
      </div>
  
      
      {% if resource_list %}
      <div class="resources-list card">

        <h4 class='category-header'>Food Resources</h4>

        <ul class='resources-links'>
          {% for resource in resource_list %}
            {% if resource.category.name == 'Food' %}
            <p><u><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a></u></p>
            {% endif %}
          {% endfor %}
        </ul>
        {% else %}
          <p>There are no articles to show at the moment! :(.</p>
        {% endif %}
      </div>
 


      {% if resource_list %}
      <div class="resources-list card">

          <h4 class='category-header'>Health / Mental Health Resources</h4>

          <ul class='resources-links'>
            {% for resource in resource_list %}
              {% if resource.category.name == 'Health' %}
              <p><u><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a></u></p>
              {% endif %}
            {% endfor %}
          </ul>
          {% else %}
            <p>There are no articles to show at the moment! :(.</p>
          {% endif %}
        </div>


        {% if resource_list %}
        <div class="resources-list card">

            <h4 class='category-header'>Independent Living Resources</h4>

            <ul class='resources-links'>
              {% for resource in resource_list %}
                {% if resource.category.name == 'Independent Living' %}
                <p><u><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a></u></p>
                {% endif %}
              {% endfor %}
            </ul>
            {% else %}
              <p>There are no articles to show at the moment! :(.</p>
            {% endif %}
          </div>



        {% if resource_list %}
        <div class="resources-list card">

            <h4 class='category-header'>Support Resources</h4>

            <ul class='resources-links'>
              {% for resource in resource_list %}
                {% if resource.category.name == 'Support' %}
                <p><u><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a></u></p>
                {% endif %}
              {% endfor %}
            </ul>
            {% else %}
              <p>There are no articles to show at the moment! :(.</p>
            {% endif %}
          </div>

      
  

{% endblock %}