{% extends "base.html" %}

{% block header %}
   {% include "snippets/navsearchbar.html" %}
{% endblock %}

{% block content %}
<div class="sidepage-content">
  <div class='sidepage-header'><h2>List of resources</h2></div>
    {% if resource_list %}
      <div class="sidepage-list">
      <ul>
        {% for resource in resource_list %}
          <li>
            <a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a> 
          </li>
        {% endfor %}
      </ul>
      {% else %}
        <p>There are no articles to show at the moment! :(.</p>
      {% endif %}
    </div>
</div>  
{% endblock %}