{% extends "base.html" %}

{% block content %}

<div class="">

  <form method="GET">
      <div class="">
              <div>{{ filter.form.title__icontains.label_tag }}</div>
              <div>{{ filter.form.title__icontains }}</div>

              <div>{{ filter.form.content__icontains.label_tag }}</div>
              <div>{{ filter.form.content__icontains }}</div>

              <div class="">{{ filter.form.author.label_tag }}</div>
              <div>{{ filter.form.author }}</div>

              <button class="bg-white mt3" type='submit'>Search</button>
      </div>
  </form>
 
</div>

  <div class="">
  
  <h2>Search For Blog Posts</h2>
  {% if filter.qs %}
    {% for obj in filter.qs %}
        <p class ='' id="blogTitle">{{obj.title|title}}</p>
        <p id="blogAuthor">Author: {{obj.author|title}} | <span>  Entry Date: {{obj.publish_date}}</span>
       
    <div class= ''>
    <p id="blogContent">{{obj.content }}</p>
    {% endfor %}
  {% else %}
    <p>Your search contains no results.</p>
  {% endif %}
 
  </div>

{% endblock %}

