{% extends "base.html" %}

{% block content %}
<div class= "f4-ns ml5-ns b--solid bw1 bg-blue avenir br3 justify b--dark-blue">

  <form method="GET">
      <div class="pa4">
              <div>{{ filter.form.title__icontains.label_tag }}</div>
              <div>{{ filter.form.title__icontains }}</div>

              <div>{{ filter.form.content__icontains.label_tag }}</div>
              <div>{{ filter.form.content__icontains }}</div>

              <div class='mt2'>{{ filter.form.author.label_tag }}</div>
              <div>{{ filter.form.author }}</div>

              <button class="bg-white mt5" type='submit'>Search</button>
      </div>
  </form>
 
</div>

  <div class="tc center avenir">
  
  <h2>Search For Blog Posts</h2>
  {% if filter.qs %}
    {% for obj in filter.qs %}
        <p class ='f3 green fw5 mt3' id="blogTitle">{{obj.title|title}}</p>
        <p id="blogAuthor">Author: {{obj.author|title}} | <span>  Entry Date: {{obj.publish_date}}</span>
       
    <div class= 'b--solid br3 b--moon-gray'>
    <p id="blogContent">{{obj.content }}</p>
    {% endfor %}
  {% else %}
    <p>Your search contains no results.</p>
  {% endif %}
 
  </div>

{% endblock %}

