{% extends 'base.html' %}

{% block content %}
<div class="profile">
        <br>
        <h2><center>Username: {{user}}</center></h2>
        <h4><center>Name: {{user.person.first_name}}</center></h4>
        <h5><center>Role: {{user.person.role}}</center></h5> 
        {% for pair in user.person.pairs %}
        {% if user.person.role == 'mentor' %}
        <h5><center>You are paired with: {{pair.mentee}}</center></h5>
        {% else %}
        <h5><center>You are paired with: {{pair.mentor}}</center></h5>
        {% endif %}
        {% endfor %}
        <h5><center>Interests:</center></h5>

</div> 

{% for goal in goals_by_user %}

<div class="goal-div">

        <a class="" href="#">{{goal.description}}</a>
        {% for step in goal.steps.all %}
        <div class="individual-steps" data-step={{step}}>
        
        </div>
        {% endfor %}
       
              

</div>
{% endfor %}


<h4 class="title">Add a goal</h4>
<form id='new_goal' class='new_goal' method='post' action="{% url 'add_goal' %}">{% csrf_token %}
        <textarea required type='text' class="newGoal" placeholder='Add Goal'></textarea>
        <button type="submit"> Submit </button>
</form>






<!-- <div class="goal-detail">
        
        {% for goal in goals_by_user %}
        <details>
        <summary class="option goal-description">{{goal.description}} </summary>
                {% for step in goal.steps.all %} 
                <li>{{step}}</li> 
                {% endfor %}

        </details>
        {% endfor %}


</div> -->















<div class='goals'>
{% for goal in goals_by_user %}
<br>
<ul> <a href=""></a>{{ goal.description }}</a> </ul>
{% for step in goal.steps.all %}  
      <li>{{ step }}</li>
{% endfor %}
<form class='new_step' method='post' data-goal={{goal.pk}} action="{% url 'add_step' goal.pk %}">{% csrf_token %}
                <textarea required type='text' class="newStep" placeholder='Add Step'></textarea>
                <button type="submit"> Submit </button>
</form>
{% endfor %}

</div>

<div class="chat-board">
     <h3><center>User Chat Access:</center></h3>
     <div class="buttons index-buttons"><a  href="{% url 'twilio' %}" title="Chat">General Chatroom</a></div>
     <div class="buttons index-buttons"><a  href="{% url 'chatrooms' %}" title="Chatrooms">Mentor/Mentee Paired Chatrooms</a></div>
</div>
<div class="forum"></div>


{% if request.user.is_superuser or request.user.is_admin %}
<div class="admin-functionality">
        <h3><center>Admin Functionality:</center></h3>
        <div class="buttons index-buttons"><a  href="{% url 'create_pair' %}" title="Create Pair">Create Pair</a></div>
        <div class="buttons index-buttons"><a  href="{% url 'create_chat' %}" title="Create Pair">Create Chat</a></div>
</div>
<br>
{% endif %}
{% endblock %}