{% extends 'base.html' %}

{% block content %}
<div class="profile">
<h2>Username: {{user}}</h2>
<p>Name: {{user.person.first_name}}</p>
<p>Role: {{user.person.role}}</p> 
{% for pair in user.person.pairs %}
    {% if user.person.role == 'mentor' %}
        <p>You are paired with: {{pair.mentee}}</p>
    {% else %}
     <p> You are paired with: {{pair.mentor}}</p>
    {% endif %}
{% endfor %}
</div>

<div class="visual-board profile">
        <div class="buttons index-buttons"><a  href="{% url 'goal_list' %}" title="Goalboard">Goalboard Test</a></div>
    
   
</div>


<div class="chat-board">
        <div class="buttons index-buttons"><a  href="{% url 'twilio' %}" title="Chat">Chat Test</a></div>
</div>
<div class="forum"></div>

<div class="admin-pair">
        <div class="buttons index-buttons"><a  href="{% url 'create_pair' %}" title="Create Pair">Create Pair</a></li></div>
</div>

{% endblock %}