<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <script src="{% static 'js/compiled.js' %}" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
    <title>Project Impact</title>
    <style>
        .main-image{ 
            background-image: url("{% static 'images/passion2.jpg'%}");
            background-size: cover;
            height: 50vh;
            background-position: center;
            opacity: 0.80;
    
        }
    </style>
</head>
<body>
    <header>
    {% block header %}
        {% include "snippets/navbar2.html" %}
    {% endblock %}
    </header>
    
    <section class='landing register'>
        <div class='main'>
        {% block content %}


        {% endblock %}
        </div>
    </section>
  
    {% block footer %}
     {% include "snippets/footer.html" %}
    {% endblock %}

</body>
</html>