<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <script src="{% static 'js/compiled.js' %}" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Project Impact</title>
    <style>
        .image{ 
            background-image: url("{% static 'images/passion2.jpg'%}");
            background-size: cover;
            height: 50vh;
            max-width: 100%;
        }
    </style>
</head>
<body>
    <head>  
        {% include "snippets/navbar2.html" %}
    </head>
    <div class="landing">
    {% block content %}


    {% endblock %}
    </div>
</body>
</html>