{% extends "base.html" %}
{% load static %}

{% block content %}
<div class='support'>
    <div class='support-header'><h2>Looking to contribute to the foster community?</h2></div>
    <div class='support-content'>
            <div class="img-1"><img src="{% static 'images/support/children1.jpg' %}"/>
            </div>
            <!-- <div class='div2'><a href='https://www.ncdhhs.gov/divisions/social-services/nc-kids-adoption-and-foster-care-network/how-foster-and-or-adopt'>Become a Foster Parent in NC</a></div>
            <div class='div3'><a href='https://www.adoptuskids.org/?r=l'>Adopt</a></div>
            <div class='div4'><a href='https://www.togetherwerise.org/donate/'>Donate</a></div>
            <div class='div5'><a href='https://casaforchildren.org/'>Become a Court Appointed Special Advocate (CASA)</a></div>
            <div class='div6'><a href='https://www.togetherwerise.org/volunteer/'>Volunteer</a></div>
     -->
    </div>
</div>
{% endblock %}