{% extends "base.html" %}

{% block content %}
<h1>Looking to contribute to the foster community?</h1>
<ul>
<li><a href='https://nfpaonline.org/foster'>Become a Foster Parent</a>
<li><a href='https://www.adoptuskids.org/?r=l'>Adopt</a></li>
<li><a href='https://www.togetherwerise.org/donate/'>Donate</a></li>
<li><a href='https://casaforchildren.org/'>Become a Court Appointed Special Advocate (CASA)</a></li>
<li><a href='https://www.togetherwerise.org/volunteer/'>Volunteer</a></li>
</ul>
{% endblock %}