{% extends 'base.html' %}

{% block content %}

<div class="main-image"> </div>
<div class="grid-container">
<div class='header-div'> <h2> Our mission:</h2></div>
<div class='index-page'>
        <div class= 'content mentor-index'> 
            <p>Lorem ipsum, dolor sit amet 
            consectetur adipisicing elit. 
            Dolorum natus accusantium minus 
            cupiditate, culpa dolores veniam libero 
            id quia? Natus cumque inventore libero 
            quas ipsum, laboriosam ratione quibusdam temporibus ipsam.
            Lorem ipsum, dolor sit amet 
            consectetur adipisicing elit. 
            Dolorum natus accusantium minus 
            cupiditate, culpa dolores veniam libero
            cupiditate, culpa dolores veniam libero 
            id quia? Natus cumque inventore libero 
            quas ipsum, laboriosam ratione quibusdam temporibus ipsam.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Aspernatur, quidem distinctio, amet sit voluptas quasi 
            deleniti cumque maiores animi velit aperiam esse ut tempore commodi totam architecto sint nulla porro!
            </p>
            <div class="buttons index-buttons">
                <a class="link-button" href="{% url 'mentor_signup' %}">Become a Mentor</a> 
            </div>
        </div>
        <div class="content mentee-index">
            <p>Lorem ipsum, dolor sit amet 
            consectetur adipisicing elit. 
            Dolorum natus accusantium minus 
            cupiditate, culpa dolores veniam libero 
            id quia? Natus cumque inventore libero 
            quas ipsum, laboriosam ratione quibusdam temporibus ipsam.
            Lorem ipsum, dolor sit amet 
            consectetur adipisicing elit. 
            Dolorum natus accusantium minus 
            cupiditate, culpa dolores veniam libero 
            id quia? Natus cumque inventore libero 
            quas ipsum, laboriosam ratione quibusdam temporibus ipsam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto sint magni, sapiente obcaecati veritatis, cupiditate non maiores, doloremque dignissimos illum unde. 
            Maiores voluptatibus adipisci odio necessitatibus eaque? Impedit, iste quisquam!
            </p>
            <div class="buttons index-buttons">
                <a class="link-button" href="{% url 'mentee_signup' %}">Become a Mentee</a>
            </div>
        </div>
</div>
{% endblock %}
