{% extends 'base.html' %}

{% block content %}

<div class="main-image"> </div>
<div class="grid-container">
   <div class='header-div'> <h2> “Every action in our lives touches on some chord that will vibrate in eternity.”</h2>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque illum aspernatur fuga a nemo quos sapiente veritatis soluta itaque, culpa provident inventore illo totam minima enim nihil. A, molestias vel.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi sequi molestiae qui dolore, doloribus rem quia laudantium voluptatibus at officiis, minima nihil sit ratione excepturi! Voluptatibus architecto aliquam autem ea?
       </p>
   </div>
        
   <div class='index-page'>
            <div class= 'content mentor-index'> 
                <h3 class='index-h3'> Become a mentor</h3>
                   <p>Lorem ipsum, dolor sit amet 
                        consectetur adipisicing elit. 
                        Dolorum natus accusantium minus 
                        cupiditate, culpa dolores veniam libero 
                        id quia? Natus cumque inventore libero 
                        quas ipsum, laboriosam ratione quibusdam temporibus ipsam.
                        Lorem ipsum, dolor sit amet 
                        consectetur adipisicing elit. 
                        Dolorum natus accusantium minus 
                        cupiditate, culpa dolores veniam libero 
                        id quia? Natus cumque inventore libero 
                        quas ipsum, laboriosam ratione quibusdam temporibus ipsam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto sint magni, sapiente obcaecati veritatis, cupiditate non maiores, doloremque dignissimos illum unde. 
                        Maiores voluptatibus adipisci odio necessitatibus eaque? Impedit, iste quisquam!
                    </p>
                <div class="buttons index-buttons">
                    <a class="link-button" href="{% url 'mentor_signup' %}">Mentor </a> 
                </div>
            </div>
            <div class="content mentee-index">
                <h3 class='index-h3'> Find a mentor</h3>
                    <p>Lorem ipsum, dolor sit amet 
                    consectetur adipisicing elit. 
                    Dolorum natus accusantium minus 
                    cupiditate, culpa dolores veniam libero 
                    id quia? Natus cumque inventore libero 
                    quas ipsum, laboriosam ratione quibusdam temporibus ipsam.
                    Lorem ipsum, dolor sit amet 
                    consectetur adipisicing elit. 
                    Dolorum natus accusantium minus 
                    cupiditate, culpa dolores veniam libero 
                    id quia? Natus cumque inventore libero 
                    quas ipsum, laboriosam ratione quibusdam temporibus ipsam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto sint magni, sapiente obcaecati veritatis, cupiditate non maiores, doloremque dignissimos illum unde. 
                    Maiores voluptatibus adipisci odio necessitatibus eaque? Impedit, iste quisquam!
                    </p>
                <div class="buttons index-buttons">
                    <a class="link-button" href="{% url 'mentee_signup' %}">Mentee</a>
                </div>
             </div>
         </div>
     </div>
  </div>
{% endblock %}

{% block footer %}
    {% include "snippets/footer.html" %}
{% endblock %}
