{% extends 'base.html' %}

{% block content %}
<div class='profile-page'>
<div class="profile">
        <h2>Username: {{user}}</h2>
        <p>Name: {{user.person.first_name}}</p>
        <p>Role: {{user.person.role}}</p> 
        {% for pair in user.person.pairs %}
        {% if user.person.role == 'mentor' %}
        <p>You are paired with: {{pair.mentee}}</p>
        {% else %}
        <p> You are paired with: {{pair.mentor}}</p>
        {% endif %}
        {% endfor %}
</div> 


<div class="goal-list">
    <h1> List of Goals </h1>

 <ul>
   <li><a>Goal 1</a></li>
   <li><a>Goal 2</a></li>
   <li><a>Goal 3</a></li>
   <li><a>Goal 4</a></li>

 </ul>
 <p> Add another goal </p>
</div>


<div class='goal-steps'>
        <h2>This is your goal and steps</h2>
        <li><a>Step 1</a></li>
        <li><a>Step 2</a></li>
        <li><a>Step 3</a></li>
        <li><a>Step 4</a></li>

        <p>Add steps</p>
</div>

<div class='completed-steps'>
        <h2>Progress completed</h2>
        <li><a>Step 1</a></li>
        <li><a>Step 2</a></li>
        <li><a>Step 3</a></li>
        <li><a>Step 4</a></li>

</div>

<div class='mentor-list'>
    <h2>My mentors</h2>
    <p> Name</p>  
    <a href="">chat link</a>
    <p> Name</p>
    <a href="">chat link</a>
    <p> Name</p>
    <a href="">chat link</a>

</div>
</div>


<div class="calendar">
  <h1> Here you have the calendar</h1>


</div>



{% endblock %}