/* General styling  mobile first */

*, *::before, *::after { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }

:root{
    --red: #8E0A18;
    --body-bg:#F9F9F9;
    --white:#F8F4F4;
    --black: #252424;
    --div-bg:#F9F4F4;
}

body {
    font-family: 'Crimson Pro', serif;
    line-height: 1.4em;
    background-color: var(--body-bg);

}

.main{
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    

}
.grid-container{
    width: 96%;
    font-size: 1.2em;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    
}

.center-text{
    text-align: center;
    margin: 0 auto;

}
.buttons{
    background: var(--red);
    padding: 0.6rem 1.3rem;
    border: 0;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
}

.buttons a{
    color: var(--white);
    text-decoration: none;
    
}

/* Index Page */
.header-div{
    text-align: center;
}

.index-page{
    padding: 25px;
    text-align: justify;
    padding-bottom: 30px;
    margin: 0 20px;
    display: grid;

}

.index-buttons{
    margin-top: 20px;
}

.mentor-index, .mentee-index{
    background: var(--div-bg);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
    
}

.index-h3{
    text-align: center;
}

/* .register{
    margin-top: 20px;
} */
/* Footer */

.footer-grid{

    display: grid;
    background: var(--red);
    color: var(--white);
}


/* Support Page */

.support{
    display: grid;
    grid-gap: 30px;
    margin: 0 20px;
}

.support-header h2{
    text-align: center;
    margin: 30px 0;
    padding: 20px;
    background:#F1EFEF;
    border-radius: 20px;
}

.support-content{
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    background:#F1EFEF;
    border-radius: 20px;
}

.support-content ul{
    grid-column: 2;
    list-style: none;
    padding: 20px;
    font-size: 1.5em;
}

.support-content a{
    color: var(--black);
}

.support-content a:hover{
    color: var(--red);
}

/* Resources  & Blog List view*/

.sidepage-content{
    display: grid;
    grid-gap: 30px;
    margin: 0 20px;

}

.sidepage-header h2{
    text-align: center;
    margin: 30px 0;
    padding: 20px;
    background:#F1EFEF;
    border-radius: 20px;
}

.sidepage-list{
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    background:#F1EFEF;
    border-radius: 20px;
}

.sidepage-list ul{
    grid-column: 2;
    list-style: none;
    padding: 20px;
    font-size: 1.5em;
}

.sidepage-list ul{
    grid-column: 2;
    list-style: none;
    padding: 20px;
    font-size: 1.5em;
}

.sidepage-list a{
    color: var(--black);
}

.sidepage-list a:hover{
    color: var(--red);
}

.sidepage-detail{
    display: grid;
    grid-gap: 2px;
    margin: 20px 20px;
    text-align: justify;

}

.sidepage-detail p{
    font-size: 1.2em;
}

/* Forms */
.forms{
    margin: 0 auto;
}

.custom-bg{
    background: var(--red);
    color: var(--white);
}




/* Profile */



/* Navegation styling desktop first */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--red);
    min-height: 10vh;

}

.logo{
    color: var(--white);
    font-size: 2em;
    margin-left: 50px;


}

.logo a{
    color: var(--white);
    text-decoration: none;
}

.nav-links{
    display: flex;
    width:50%;
    justify-content: space-around;
    list-style: none;
    margin-left: auto;
}

.nav-links a{
    color: var(--white);
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: .1em;

}



/* Media Queries */

@media only screen  and (min-width:767px){
   .index-page{
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
   }

   .mentee-index, .mentor-index{
       padding: 15px;
   }


}
@media only screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }

}

@media only screen and (max-width: 767px) {


   .line{
        width: 30px;
        height: 3px;
        background: var(--white);
        margin: 5px;
    }

    nav{
        position: relative;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 20%;
        transform: translate (-5%, 50%);
        z-index: 1;
        

    }

    .nav-links{
        position: fixed;
        background-color:#8E0A18;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -15%);
        -webkit-clip-path: circle(100px at 90% -15%);
        transition: all 1s ease-out;
        pointer-events: none;
        align-items: center;

    }

    .nav-links.open{
        clip-path: circle(1100px at 100% 10%);
        -webkit-clip-path: circle(1100px at 90% -10%);
        pointer-events: all;
    }

    .landing{
        flex: column;

    }

    .nav-links li{
        opacity: 0;
    }

    .nav-links li a{
        font-size: 1.5em;
    }
    
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;

    }

    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
        
    }

    li.fade{
        opacity: 1;
    }

}

