* {
    font-family: 'Crimson Pro', serif;
    margin: 0 auto;
}

body{
    max-width: 100%;
}

.grid-nav{
    display: grid;
    background-color: blue;
    color: white;
}

.grid-nav > a{
    color: white;
}


.nav-links{

   

 
}

.base-div{
    padding: 20px;
    font-size: 20px;
}